@page "/"
@using ProjectTracker.DataAccess.Services

<PageTitle>Index</PageTitle>

<h1 class="mb-5">Ambient Symbotic Integration</h1>

<h3 class="my-4">Date Tracking</h3>

<div class="d-flex flex-wrap project-events-wrapper">
    @if(_events is not null){
        foreach(var  projectEvent in _events.OrderBy(x => x.CurrentDate))
        {
            <div class="d-grid project-event" style="background-color: hsl(@((projectEvent.CurrentDate.Month - 7) * -30), 80%, 95%)">
                <h5 class="text-center">@projectEvent.Title</h5>
                <h1 class="text-center">@(projectEvent.CurrentDate.ToString("MMM d"))</h1>
                <div class="d-flex justify-content-between text-muted">                
                    <h6 class="d-grid">
                        <span>@(Math.Abs((projectEvent.CurrentDate - DateTime.Today).TotalDays)) @(projectEvent.CurrentDate >= DateTime.Today ? "days till" : "days late")</span>
                    </h6>
                    <h6 class="d-grid">
                        <span>originally: @projectEvent.OriginalDate.ToString("MMM d")</span>
                    </h6>
                </div>
            </div>
        }
    }
</div>


<h3 class="my-4">Punchlist Summary</h3>


<h3 class="my-4">Tasks Summary</h3>

@code{
    public record ProjectEvent(string Title, DateTime OriginalDate, DateTime CurrentDate);

    IEnumerable<ProjectEvent>? _events;

    protected override void OnInitialized()
    {
        _events = new ProjectEvent[]
        {
            new ProjectEvent("End of Install", new DateTime(2022, 10, 28), new DateTime(2022, 10, 28)),
            new ProjectEvent("Functional Testing", new DateTime(2022, 11, 7), new DateTime(2022, 11, 21)),
            new ProjectEvent("Go-Live", new DateTime(2022, 11, 21), new DateTime(2022, 12, 5)),
        };
    }
}