@page "/"
@using ProjectTracker.DataAccess.Services
@inject OverviewController OverviewController

<PageTitle>Project Tracker - Overview</PageTitle>

<h1 class="mb-5">Ambient Symbotic Integration</h1>

<div class="d-flex my-4 gap-4">
    <h3>Date Tracking</h3>
    <button class="btn btn-primary">Add</button>
</div>

<div class="d-flex flex-wrap project-events-wrapper">
    @if(_events is not null){
        foreach(var  projectEvent in _events.OrderBy(x => x.TargetDate))
        {
            <div class="d-grid project-event" style="background-color: hsl(@((projectEvent.TargetDate.Month - 7) * -30), 80%, 95%)">
                <h5 class="text-center">@projectEvent.Name</h5>
                <h1 class="text-center">@(projectEvent.TargetDate.ToString("MMM d"))</h1>
                <div class="d-flex justify-content-between text-muted">                
                    <h6 class="d-grid">
                        <span>@(Math.Abs((projectEvent.TargetDate - DateTime.Today).TotalDays)) @(projectEvent.TargetDate >= DateTime.Today ? "days till" : "days late")</span>
                    </h6>
                    <h6 class="d-grid">
                        <span>originally: @projectEvent.OriginalDate.ToString("MMM d")</span>
                    </h6>
                </div>
            </div>
        }
    }
</div>


<h3 class="my-4">Punchlist Summary</h3>


<h3 class="my-4">Tasks Summary</h3>

@code{
    IEnumerable<ProjectEvent>? _events;

    protected override async Task OnInitializedAsync()
    {
        _events = await OverviewController.GetEvents();
    }
}